body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/DancingScript.ttf);
}

.fixedPart {
    height: 155px;
    background-color: #fbe2f0;
}

.body-content {
    padding-top: 100px;
}

.web-title {
    display: flex;
    justify-content: flex-start;}

#logoutBtn {
    margin:20px;
}


.login {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.home-Title {
    text-shadow: 3px 2px gray;
    font-family: myFont;
    font-size: 100px;
    text-align: center;
    transition: font-size 2s;

}

    .home-Title:hover {
        font-size: 110px;
    }

.hello-Title {
    font-family: myFont;
    font-size: 40px;
    text-align: right;

}



video {
    margin-left: 20%;
}

.newsTitle {
    text-shadow: 3px 2px gray;
    font-family: myFont;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.tweetsList {
    overflow-y: scroll;
    height: 500px;
    width: 40%;
}

.Stories {
    font-size: 20px;
    border: solid;
    padding: 10px;
    border-color: black;
    border-radius: 4px;
    column-count: 3;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #e91e63;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

    .loginmodal-submit:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 14px;
}


#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    /* grid-column-gap: 50px; */
}


#product-image {
    width: 170px;
    height: 170px;
}

.row-title {
    padding-left: 0;
    font-weight: bold;
}

.product-detail-row {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 30px;
}

.product-info {
    overflow: hidden;
}

.search-form {
    margin-bottom: 40px;
    margin-left: 400px;
}

.view-product-btn {
    margin-left: 40px;
}
