@{
    ViewBag.Title = "Home Page";
}

<div class="video-canvas">
    <video height="100%" width="650" controls poster="~/Content/images/videoPhoto.png">
        <source src="~/video/Ariana Grande - thank u next.mp4" type="video/mp4">
    </video>
</div>

<div class="tweetsList" style="overflow-y: scroll">
    <a class="twitter-timeline" href="https://twitter.com/ArianaG59221418/lists/tweets-from-ariana?ref_src=twsrc%5Etfw">A Twitter List by ArianaG59221418</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="newsTitle">
    ABOUT
</div>
<div class="Stories">

    Justin Bieber and Ariana Grande Address Coachella Lip-Sync Controversy
    "U were singing with the back tracking like most cameos do," Grande tweeted.


    Grande made history at Coachella Arichella this year as she became the youngest person to ever headline the festival. She's also only the fourth woman to ever do so. Needless to say, her performance left her tens of thousands of fans at Coachella in total awe.
    One person, however, wanted to make a little bit of a more permanent mark on the historic show.

    On Thursday, the 25-year-old singer kept things real when a fan tweeted, "Music is your therapy and I love seeing it heal you." While many expected the "Thank U, Next" crooner to agree with her Arianator, she revealed that's not always the case.

    "Making it is healing," she replied in a since-deleted tweet (which was captured by several fan accounts). "Performing it is like reliving it all over again and it is hell."


    It was only last year that Grande and Miller attended Coachella together, which also marked one of their final public outings as a couple before their May 2018 split. Following the singer's surprise appearance during DJ Kygo's set, Miller would tweet, "Very proud of this girl right here. Welcome back. We missed you." Last September, Miller died from a drug overdose

</div>

