@{
    ViewBag.Title = "Home Page";
}

<div class="video-canvas">
    <video height="100%" width="650" controls poster="~/Content/images/videoPhoto.png">
        <source src="~/video/Ariana Grande - thank u next.mp4" type="video/mp4">
    </video>
</div>

<div id="contentWrapper">
    <div id="tweetsList" style="overflow-y: scroll">
        <a class="twitter-timeline" href="https://twitter.com/ArianaG59221418/lists/tweets-from-ariana?ref_src=twsrc%5Etfw">A Twitter List by ArianaG59221418</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div id="about">

        <div class="newsTitle">
            ABOUT
        </div>
        <div class="Stories">

            Justin Bieber and Ariana Grande Address Coachella Lip-Sync Controversy
            "U were singing with the back tracking like most cameos do," Grande tweeted.


            Grande made history at Coachella Arichella this year as she became the youngest person to ever headline the festival. She's also only the fourth woman to ever do so. Needless to say, her performance left her tens of thousands of fans at Coachella in total awe.
            One person, however, wanted to make a little bit of a more permanent mark on the historic show.

            On Thursday, the 25-year-old singer kept things real when a fan tweeted, "Music is your therapy and I love seeing it heal you." While many expected the "Thank U, Next" crooner to agree with her Arianator, she revealed that's not always the case.

            "Making it is healing," she replied in a since-deleted tweet (which was captured by several fan accounts). "Performing it is like reliving it all over again and it is hell."


            It was only last year that Grande and Miller attended Coachella together, which also marked one of their final public outings as a couple before their May 2018 split. Following the singer's surprise appearance during DJ Kygo's set, Miller would tweet, "Very proud of this girl right here. Welcome back. We missed you." Last September, Miller died from a drug overdose

        </div>

    </div>
   
</div>

<div>
    <canvas id="ariScreenSaver" class="dvd-canvas"></canvas>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    // Adjust the function to the browser
    window.requestAnimFrame =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function (callback) {
            window.setTimeout(callback, 1000 / 30);
        };
    var baseImage = "../Content/images/icon.jpg", imgW = 80, imgH = 67;

    // Get the canvas HTML DOM object
    var canvas = $("#ariScreenSaver")[0];

    // Canvas context - on wich we will draw
    var ctx = canvas.getContext('2d');
    var canvasW = canvas.width, canvasH = canvas.height;

    // Set the object initial location:
    //  Math.floor will return the largest integer less than or equal to a given number
    //  Math.random will return floating number between 0-1 (inclusive 0 but not 1)
    var imgX = Math.floor(Math.random() * (canvasW - imgW));
    var imgY = Math.floor(Math.random() * (canvasH - imgH));
    var moveX, moveY = 1;

    // Initial direction for the object movement
    var xDir = "right",
        yDir = "up";

    var init = function () {
        // File the rect with background color -
        // so the object redraw on clean background and won't be redraw over and over again
        ctx.fillStyle = "#ffffff";
        ctx.fillRect(0, 0, canvasW, canvasH);
        ctx.drawImage(base_image, imgX, imgY, imgW, imgH);

        if (xDir == "right") {
            if (imgX >= canvasW - imgW) {
                xDir = "left";
                imgX = imgX - moveX;
            } else {
                imgX = imgX + moveX;
            }
        } else {
            if (imgX <= 0) {
                xDir = "right";
                imgX = imgX + moveX;
            } else {
                imgX = imgX - moveX;
            }
        }
        if (yDir == "down") {
            if (imgY >= canvasH - imgH) {
                yDir = "up";
                imgY = imgY - moveY;
            } else {
                imgY = imgY + moveY;
            }
        } else {
            if (imgY <= 0) {
                yDir = "down";
                imgY = imgY + moveY;
            } else {
                imgY = imgY - moveY;
            }
        }

        requestAnimFrame(init);
    }

    // In case the canvas size was changed
    var reinit = function () {
        canvasW = canvas.width, canvasH = canvas.height;
        // Making sure the object won't go the same path
        (canvasW - imgW === canvasH - imgH) ? moveX = 1.5 : moveX = 1;
    }
    reinit();

    var base_image = new Image();
    base_image.src = baseImage;
    base_image.onload = function () {
        window.addEventListener("resize", reinit);
        init();
    };
</script>
