
@{
    ViewBag.Title = "Manager";
}

<h2>Manager</h2>

Facebook

Statistics

<h1>TWEETER POSTS!!!</h1>
<form id="tweet" action="/Manager/SendTweet">
    Tweet this text:<br />
    <input id="textToTweet" name="text" type="text" />
    <input id="submitTweet" type="submit" value="submit" />
</form>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function() { 
        $("#tweet").submit(function (e) {
            e.preventDefault()

            var url = $(this).attr("action");

            $.ajax({
                        url: url,
                        method: 'POST',
                        data: {
                            Text: $("#textToTweet").val()
                        }
            })
                .done(function (result) {
                    location.reload();
                })
                .fail(function (result) {
                    console.log("fail" + result);
                })
        });
    }); 
</script>