
@{
    ViewBag.Title = "UserPurchase";
}

<h2 id="YourPurchase">Your Purchases</h2>

<div class="products"></div>
<input type="hidden" id="session" data-value="@Session["UserID"]" />


<link rel="stylesheet" href="~/css/products.css" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<script>
    jQuery(function ($) {
        $(document).ready()
        {
            var UserID = $('#session').data('value');

            $.ajax({
                url: '/Shop/GetUserProducts?userId=' + UserID,
                method: 'GET',
            }).done(function (list) {
                var cardToAdd = "";
                for (i = 0; i < list.length; i++) {
                    cardToAdd += "<div class='card' product-id=" + list[i].ProductID + ">" +
                        "<img class='card-img-top' src='../assets/" + list[i].Image + "' alt=" + list[i].Name +
                        " style='display:block; width:150px;height:150px;'> " +
                        " <div class='card-body'>" +
                        "<h5 class='card-title'>" + list[i].Name + "</h5>" +
                        "<h5 class='card-title'>" + list[i].Description + "</h5>";

                }
                $(".products").html(cardToAdd);
            })
                .fail(function (error) {
                    console.log('There was a problem loading the products')
                })
        };

    });
</script>
